{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Speech Recognition</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container" >
    <h2> Speech to Text Application</h2>
    <hr>
    <form action="." method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <br>
      Choose a audiofile:
      <input type="file" name="audio_file"><br><br>
      <input type="submit" value="Submit">
    </form><br><br>
    {% if transcript %}

      <textarea rows="10" cols="100">
        {{ transcript }}
      </textarea>

    {%elif message %}

      <p>
        Could not parse text from speech. Please try another audio file.
      </p>

    {% endif %}
  <hr>
  </div>
<footer>
  Developed by: Mohsin Mumtaz
</footer>
</body>
</html>
