body {
  background: #1e2440;
  color: #f2efe2;
  font-size: 16px;
  font-family: 'Monospace';
  padding: 100px;
  text-align: center;

}

.button {
  border-radius: 10%;
  margin: 0 auto;

  width: 200px;
}

